{{>layout/header}}

<h1>URL Shortener</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="URL">URL</label>
                <input type="text" class="form-control" id="url" placeholder="단축할 URL을 입력하세요.">
            </div>
        </form>
        <button type="button" class="btn btn-primary" id="btn-save">등록</button>
    </div>
</div>

{{>layout/footer}}
